---
import ProductCardSmall from "./ProductCardSmall.astro";
const { products, title, id } = Astro.props;
---

<div class="mt-8" id={id}>
    <h2
        class="font-semibold md:text-lg text-xl text-center md:text-left opacity-80"
    >
        {title}
    </h2>
    <hr />
    <div
        class="grid grid-cols-1 mt-4 justify-items-center md:grid-cols-4 grid-flow-row gap-8"
    >
        {products.map((product) => <ProductCardSmall {...product} />)}
    </div>
</div>
