---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout title="Popular blends" id="products">
  <div class="mt-8 grid grid-cols-1 justify-items-center gap-10 md:grid-cols-2">
    <slot />
  </div>
</SectionLayout>
