---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout title="Brewing Equipment">
  <div class="mt-8 grid grid-cols-1 justify-items-center gap-8 md:grid-cols-3">
    <slot />
  </div>
</SectionLayout>
