<div class="mt-12 h-full bg-happy-farmer bg-cover bg-center rounded-lg">
  <img-overlay
    class="opacity-65 block h-[inherit] bg-midnight p-8 bg-opacity-75 rounded-lg md:rounded-l-lg text-cloud md:w-2/5 md:opacity-80"
  >
    <h3 class="text-xl font-bold">Grounds for Perfection</h3>
    <p class="mt-4">
      Coffee bean farming is an intricate and labor-intensive process that
      begins with selecting the ideal growing regions and conditions. From the
      moment the coffee plants are nurtured and cultivated, the dedicated
      farmers work tirelessly to ensure optimal growth and production. They
      carefully tend to the plants, providing adequate shade, water, and
      nutrients, while also protecting them from pests and diseases. Patiently
      waiting for the cherries to ripen, the farmers meticulously handpick the
      coffee beans, ensuring only the finest and ripest ones are harvested. This
      delicate balance of nature and expertise is what ultimately yields the
      exceptional quality and distinctive flavors that coffee lovers cherish in
      every cup.
    </p>
  </img-overlay>
</div>
