---
import ButtonWithIcon from "../ButtonWithIcon.astro";
---

<section
  class="bg-hero-banner from-midnight from-30% bg-cover bg-center bg-no-repeat"
>
  <img-overlay
    class="block h-full bg-gradient-to-r from-midnight from-65% to-85% md:from-45% md:to-80%"
  >
    <div
      class="ml-4 mr-36 flex h-full flex-col justify-center gap-5 py-10 text-cloud sm:w-2/5 md:mx-20 md:w-2/5"
    >
      <h1 class="text-3xl font-bold md:text-5xl">
        Fuel Your Day with the Finest Coffee Beans
      </h1>
      <p class="font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sint
        consectetur pariatur, similique laboriosam voluptatem vel eos odit
        excepturi reprehenderit!
      </p>

      <ButtonWithIcon>
        Bean Me Up
        <svg
          height="24px"
          width="24px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          slot="svg"
        >
          <path
            d="M4 20H10.9433M10.9433 20H11.0567M10.9433 20C10.9622 20.0002 10.9811 20.0002 11 20.0002C11.0189 20.0002 11.0378 20.0002 11.0567 20M10.9433 20C7.1034 19.9695 4 16.8468 4 12.9998V8.92285C4 8.41305 4.41305 8 4.92285 8H17.0767C17.5865 8 18 8.41305 18 8.92285V9M11.0567 20H18M11.0567 20C14.8966 19.9695 18 16.8468 18 12.9998M18 9H19.5C20.8807 9 22 10.1193 22 11.5C22 12.8807 20.8807 14 19.5 14H18V12.9998M18 9V12.9998M15 3L14 5M12 3L11 5M9 3L8 5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </ButtonWithIcon>
    </div>
  </img-overlay>
</section>
