---
import SectionLayout from "../../layouts/SectionLayout.astro";
import PartnerIcon from "./PartnerIcon.astro";
---

<SectionLayout title="Our Partners">
  <div class="mt-8 flex flex-wrap justify-evenly gap-2">
    <PartnerIcon name="costa" />
    <PartnerIcon name="nz-coffee" />
    <PartnerIcon name="peets" />
    <PartnerIcon name="starbucks" />
    <PartnerIcon name="tullys" />
    <PartnerIcon name="luckin" />
    <PartnerIcon name="tim-hortons" />
    <PartnerIcon name="pacific" />
  </div>
</SectionLayout>
