<button
  class="group flex w-fit flex-row items-center justify-center rounded-full border-2 border-transparent bg-brew px-7 py-4 text-sm font-bold text-cloud transition-all duration-300 hover:border-cloud hover:bg-midnight hover:text-cloud"
  ><span
    class="flex items-center gap-2 transition-transform duration-300 group-hover:-translate-x-3"
    ><slot /></span
  >
  <div
    class="h-6 w-0 flex-row items-center stroke-cloud opacity-0 transition-all duration-300 group-hover:flex group-hover:w-6 group-hover:opacity-100"
  >
    <slot name="svg" />
  </div>
</button>
