---
import { getProductsOfType } from "../../../sanity";
import ProductCategory from "../../components/products/ProductCategory.astro";
import PageLayout from "../../layouts/PageLayout.astro";

const blends = await getProductsOfType("Beans");
const frenchPress = await getProductsOfType("French Press");
const coffeeMachine = await getProductsOfType("Coffee Machine");
const drip = await getProductsOfType("Drip Coffee");
---

<PageLayout title="Products" description="">
    <section class="max-w-screen-md mx-auto">
        <h1
            class="md:text-2xl mt-8 text-2xl md:text-left text-center font-bold"
        >
            Products
        </h1>

        <ProductCategory
            title="Beans And Blends"
            products={blends}
            id="beans"
        />
        <ProductCategory
            title="French Press"
            products={frenchPress}
            id="french-press"
        />
        <ProductCategory title="Drip Coffee" products={drip} id="drip-coffee" />
        <ProductCategory
            title="Coffee Machines"
            products={coffeeMachine}
            id="coffee-machines"
        />
    </section>
</PageLayout>
